{% extends "_base.html.twig" %}
{% block title %}500 - ⛳ PHPer Code Golf by pixiv{% endblock %}
{% block content %}
	<h1>⛳ PHPer Code Golf by pixiv</h1>
	<p>500 Internal Server Error.</p>
{% endblock %}
