<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}⛳Golf{% endblock %}</title>
	</head>
	<body>
		{% block content %}
		{% endblock %}
		<hr>
		<footer>
			&copy; 2020 pixiv
		</footer>
	</body>
</html>
