<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}⛳Golf{% endblock %}</title>
		<meta name="robots" content="noindex">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/marx-css@3.0.7/css/marx.min.css" integrity="sha256-hPp3aL54H6hqtJdIpwV2551XMfx3e5ZqZDzmTsX0ol0=" crossorigin="anonymous">
		<style>
			.input-error, .code-error {
				color: tomato;
			}
			.input-error::before {
				content: "※"
			}
			h1 {
				margin-bottom: 1em;
			}
			dfn {
				font-weight: bold;
				font-style: inherit;
				margin: 0 4px;
			}
			blockquote {
				margin: 2em 0;
				font-family: inherit;
				font-style: normal;
			}
			blockquote > cite {
				display: block;
				text-align: right;
			}
			blockquote > cite::before {
				content: "─"
			}
			textarea.code {
				margin-bottom: 20px;
				min-height: 10em;
				font-family: Menlo,Monaco,Consolas,Courier New,monospace;
			}
			li {
				margin-bottom: 14px;
			}
			details {
				border: dotted 2px #000;
				padding: 20px 20px 5px 20px;
			}
			fieldset {
				border: solid 1px #333;
				padding-left: 20px;
			}
			fieldset > legend {
				padding-left: 5px;
				border: none;
			}
		</style>
	</head>
	<body>
		<main>
			{% block content %}
			{% endblock %}
			<hr style="border: 0">
			<footer>
				&copy; <a href="https://phperkaigi.jp/2020/">PHPerKaigi 2020 実行委員会</a> | <a href="{{ route('terms') }}">利用規約</a>
			</footer>
		</main>
	</body>
</html>
