<form method="post" action="{{route('post_login')}}">
	<fieldset>
		<legend>ログイン</legend>
		<p>
			<label>アカウント名
				<input type="text" name="fortee_name">
			</label>
		</p>
		<p>
			<label>ログインコード
				<input type="password" name="login_code">
			</label>
		</p>
		<button type="submit">ログイン</button>
	</fieldset>
</form>
