{% extends "_base.html.twig" %}
{% block title %}⛳ Golf{% endblock %}
{% block content %}
	<h1>⛳ Golf</h1>
	<p>
		<ul>
			<li><a href="/"><code>phpinfo.php</code></a></li>
		</ul>
	</p>
{% endblock %}
