{% extends "_base.html.twig" %}
{% block title %}login - ⛳ PHPer Code Golf by pixiv{% endblock %}
{% block content %}
	<h1><a href="{{route('index')}}">⛳</a> PHPer Code Golf by pixiv</h1>
	<h2>砂場遊び</h2>
	<p>このページではPHPコードをブラウザ上で実行できます。 (<em class="input-error">砂場に書いたコードは記録されません</em>)</p>
	<form method="post" action="{{route('post_sandbox')}}">
		<textarea name="code" class="code" required>{{ code }}</textarea>
		<div style="text-align: center;">
			<button type="submit">⛳ 実行</button>
		</div>
	</form>

	{% if errors != null %}
		<h3>Error</h3>
		<ul>
			{% if errors.syntax_error %}
				<li class="code-error">Syntax error</li>
			{% endif %}
			{% if errors.timeout %}
				<li class="code-error">実行時間がタイムアウトになりました</li>
			{% endif %}
		</ul>
	{% endif %}

	{% include "_code_result.html.twig" %}
{% endblock %}
